.project {
    width="200px";
    height="400px";
    float:left;
    overflow:hidden;
    padding-left: 10px;
    padding-right: 10px;
    border: solid black 1px;
}
.imageBox {
    width="200px";
    height="100px";
}
.projectBoxInfo {
    width = "200px";
    height = "200px";
}