<!DOCTYPE html>
<head>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="jquery-1.10.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>

</head>
<body>
  <div class = "container">
    <script language = "javascript" type = "text/javascript" src = "alternateHeader.js"></script>
    <div class="container">
      <div class="row">
        <h1>About Code the Change</h1>
        <hr />
        <p>Code the Change helps computer scientists use their skills for social change to make social change an integral part of computer science culture. Gandhi said that we must be the change we wish to see in the world; Code the Change believes that computer scientists must code the change they wish to see in the world.</p>

        <p>Computer scientists want to use their skills to make the world a better place, but they don't know who could use their help. The great irony is that nonprofits and other organizations in the public and social sectors need computer science work now more than ever before; they just don't have the same recruiting budgets that traditional high tech companies have.</p>

        <p>Even worse, the people who are working on computer science and social change are not working together. As a result, there is little sharing of best practices, and groups continually reinvent the wheel. The space of computer science and social change won't flourish until an organization steps in and brings people together.</p>

        <p>This website was designed to be a meeting place between the computer scientists who wish to share their skills and the nonprofit companies who could use these skills in order to impart social change. Our hope is too see many projects flourish on this page which will be mutually beneficial to both students and nonprofits. Students will be able to gain meaningful real world computer science experience and non-profits will have a trusted source of computer science talent.</p>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <script language = "javascript" type = "text/javascript" src = "footer.js"></script>
</body>
