<!DOCTYPE html>
<head>
  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <script src="jquery-1.10.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>

</head>
<body>
  <div class = "container">
    <script language = "javascript" type = "text/javascript" src = "alternateHeader.js"></script>
    <div class="container">
      <div class="row">
        <h1>Developers</h1>
        <hr />
        <p>Under construction.</p>
      </div>
    </div>
  </div>
  <!-- FOOTER -->
  <script language = "javascript" type = "text/javascript" src = "footer.js"></script>
</body>
