<!DOCTYPE html>
<html>
<head>
  <title>ProjectPageMock</title>
  <link href = "bootstrap/css/bootstrap.css" rel = "stylesheet">
  <link href = "custom.css" rel = "stylesheet">
  <script src="jquery-1.10.2.min.js"></script>
  <script src="bootstrap/js/bootstrap.js"></script>
  <script src = "projectInfo.js"></script>
</head>
<body>
      <div class = "container" >
      <script language = "javascript" type = "text/javascript" src = "header.js"></script>

      <!-- Making usernames appear when mouseover images-->


      <!-- Jumbotron -->
        <div class="jumbotron" id = "daTitle" >
         <h1 id = "projectTitle"></h1>
         <p class="lead">Write a little blurb about your project</p>
       </div>
       
       <div class = "col-xs-8">
         <h2>Technical Objectives</h2>
         <p id = "technicalObjectives">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor. Fusce facilisis a erat ut scelerisque. Aenean porttitor placerat risus eget posuere. Duis eu ultrices odio, a faucibus tellus. Aenean adipiscing porta est, quis volutpat ligula vulputate eu. Pellentesque non erat ut arcu sollicitudin auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla tempus condimentum consequat. Sed ac pellentesque eros, in sagittis mi. Cras felis mi, convallis sit amet porttitor a, luctus a est.</p>

         <h2>Project Objectives</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor. Fusce facilisis a erat ut scelerisque. Aenean porttitor placerat risus eget posuere. Duis eu ultrices odio, a faucibus tellus. Aenean adipiscing porta est, quis volutpat ligula vulputate eu. Pellentesque non erat ut arcu sollicitudin auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla tempus condimentum consequat. Sed ac pellentesque eros, in sagittis mi. Cras felis mi, convallis sit amet porttitor a, luctus a est.</p>   
        
        <p id = "gitHub"></p> 
         <h2>Progress</h2>
         <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;" id="mainProgressBar">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>

        <!-- I would like to make it so that the user can click on a milestone and a drop down window will appear detailing what the milestone is and the estimated time it would take. Then there would be another contribute code button at the end of the drop down window. -->

        <div class="tab-pane" id="milestone">
          <div class="panel-group tab-pane" id="milestone">
            <div class="panel panel-info" data-toggle="collapse" data-parent="#milestone" href="#collapseOneMilestone">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <table>
                    <tr>
                      <td class="d1">
                        Milestone 1
                      </td>
                      <td class="d2">
                      </td>
                      <td class="d3">
                        COMPLETE
                      </td>
                    </tr>
                  </table>
                </h4>
              </div>
              <div id="collapseOneMilestone" class="panel-collapse collapse">
                <div class="panel-body">
                  <h5>Instructions:</h5>
                  <p>JOIN THE TEAM!</p>

                  <h5>Estimated time: 5 seconds</h5>
                  <center> <p><a class="btn btn-primary btn-lg" role="button">Join the Team</a></p>
                  </div>
                </div>
              </div>

              <div class="panel panel-info" data-toggle="collapse" data-parent="#milestone" href="#collapseTwoMilestone">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <table>
                      <tr>
                        <td class="d1">
                          Milestone 2
                        </td>
                        <td class="d2">
                        </td>
                        <td class="d3">
                          COMPLETE
                        </td>
                      </tr>
                    </table>
                  </h4>
                </div>
                <div id="collapseTwoMilestone" class="panel-collapse collapse">
                  <div class="panel-body">
                    <h5>Instructions:</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                    <h5>Estimated time: 30 minutes</h5>
                    <center> <p><a class="btn btn-primary btn-lg" role="button">Contribute Code</a></p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-info" data-toggle="collapse" data-parent="#milestone" href="#collapseThreeMilestone">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <table>
                        <tr>
                          <td class="d1">
                            Milestone 3
                          </td>
                          <td class="d2">
                          </td>
                          <td class="d3">
                            COMPLETE
                          </td>
                        </tr>
                      </table>
                    </h4>
                  </div>
                  <div id="collapseThreeMilestone" class="panel-collapse collapse">
                    <div class="panel-body">
                      <h5>Instructions:</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                      <h5>Estimated time: 15 minutes</h5>
                      <center> <p><a class="btn btn-primary btn-lg" role="button">Contribute Code</a></p>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-primary" onmouseover="updateMilestoneProgress(mainProgressBar)" onmouseout="revertProgress(mainProgressBar)" data-toggle="collapse" data-parent="#milestone" href="#collapseFourMilestone">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <table>
                          <tr>
                            <td class="d1">
                              Milestone 4
                            </td>
                            <td class="d2">
                              <i>Current milestone.</i>
                            </td>
                            <td class="d3">
                              30 mins
                            </td>
                          </tr>
                        </table>
                      </h4>
                    </div>
                    <div onmouseover="updateMilestoneProgress(mainProgressBar)" onmouseout="revertProgress(mainProgressBar)" id="collapseFourMilestone" class="panel-collapse collapse">
                      <div class="panel-body">
                        <h5>Instructions:</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                        <h5>Estimated time: 30 minutes</h5>
                        <center> <p><a class="btn btn-primary btn-lg" role="button">Contribute Code</a></p>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" data-toggle="collapse" data-parent="#milestone" href="#collapseFiveMilestone">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <table>
                            <tr>
                              <td class="d1">
                                Milestone 5
                              </td>
                              <td class="d2">
                                <i>Optional short milestone description.</i>
                              </td>
                              <td class="d3">
                                30 mins
                              </td>
                            </tr>
                          </table>
                        </h4>
                      </div>
                      <div id="collapseFiveMilestone" class="panel-collapse collapse">
                        <div class="panel-body">
                          <h5>Instructions:</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                          <h5>Estimated time: 30 minutes</h5>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" data-toggle="collapse" data-parent="#milestone" href="#collapseSixProfile">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <table>
                            <tr>
                              <td class="d1">
                                Milestone 6
                              </td>
                              <td class="d2">
                                <i>Mandatory short milestone description.</i>
                              </td>
                              <td class="d3">
                                1 hr
                              </td>
                            </tr>
                          </table>
                        </h4>
                      </div>
                      <div id="collapseSixProfile" class="panel-collapse collapse">
                        <div class="panel-body">
                          <h5>Instructions:</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                          <h5>Estimated time: 1 hour</h5>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" data-toggle="collapse" data-parent="#milestone" href="#collapseSevenProfile">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <table>
                            <tr>
                              <td class="d1">
                                Milestone 7
                              </td>
                              <td class="d2">
                                <i>Short milestone description.</i>
                              </td>
                              <td class="d3">
                                20 mins
                              </td>
                            </tr>
                          </table>
                        </h4>
                      </div>
                      <div id="collapseSevenProfile" class="panel-collapse collapse">
                        <div class="panel-body">
                          <h5>Instructions:</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                          <h5>Estimated time: 20 minutes</h5>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" data-toggle="collapse" data-parent="milestone" href="#collapseEightMilestone">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <table>
                            <tr>
                              <td class="d1">
                                Milestone 8
                              </td>
                              <td class="d2">
                                <i>Short milestone description.</i>
                              </td>
                              <td class="d3">
                                2 hrs
                              </td>
                            </tr>
                          </table>
                        </h4>
                      </div>
                      <div id="collapseEightMilestone" class="panel-collapse collapse">
                        <div class="panel-body">
                          <h5>Instructions:</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                          <h5>Estimated time: 2 hours</h5>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" data-toggle="collapse" data-parent="#milestone" href="#collapseNineMilestone">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <table>
                            <tr>
                              <td class="d1">
                                Milestone 9
                              </td>
                              <td class="d2">
                                <i>Milestone description that will make the text wrap if it is long enough which this most definitely is.</i>
                              </td>
                              <td class="d3">
                                15 mins
                              </td>
                            </tr>
                          </table>
                        </h4>
                      </div>
                      <div id="collapseNineMilestone" class="panel-collapse collapse">
                        <div class="panel-body">
                          <h5>Instructions:</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                          <h5>Estimated time: 15 minutes</h5>
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default" data-toggle="collapse" data-parent="#milestone" href="#collapseTenMilestone">
                      <div class="panel-heading">
                        <h4 class="panel-title">

                          <table>
                            <tr>
                              <td class="d1">
                                Milestone 10
                              </td>
                              <td class="d2">
                                <i>Short milestone description.</i>
                              </td>
                              <td class="d3">
                                45 mins
                              </td>
                            </tr>
                          </table>

                        </h4>
                      </div>
                      <div id="collapseTenMilestone" class="panel-collapse collapse">
                        <div class="panel-body">
                          <h5>Instructions:</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis ligula vel velit dictum scelerisque. Vivamus volutpat massa in lorem porttitor, in placerat elit hendrerit. Mauris tempor ipsum eget dolor tempor, sit amet volutpat purus elementum. Aenean odio mauris, tincidunt et lacinia sit amet, accumsan eu diam. Maecenas vitae purus sed ipsum vestibulum tempor.</p>

                          <h5>Estimated time: 45 minutes</h5>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- making progress bar update as users roll over milestones -->
                <script>
                function updateMilestoneProgress(x) {
                  x.style.width="40%";
                }

                function revertProgress(x) {
                  x.style.width="30%";
                }
                </script>


                <div class = "row">
                  <br>
                  <br>
                  <center> <p><a class="btn btn-primary btn-lg" role="button">Browse Similar Projects</a></p>
                    <br>
                    <br>
                    
                    
                  </div>        

                </div>

                <div class = "col-xs-4">
                 <div id = "numbers">
                  <h1>24</h1>
                  <p>Days in progress</p>
                  <h1>47</h1>
                  <p>Git Commits</p>
                  <h1>12</h1>
                  <p>People Involved</p>
                  <br>
                  <center> <p><a class="btn btn-primary btn-lg" role="button">Join the Team</a></p>
                    <center> <p><a class="btn btn-primary btn-lg" role="button">Contribute Code</a></p>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div id="footer"></div>      
            </body>